#!/usr/bin/env bash
source ${HOME}/.functions

alias cd!='cd $_'

# Helpful git Aliases
alias ga!='git add $_'  # Adds the last parameter of the previous bash command.
alias gbh='git branch-sort' # Sorts branches by last commit
alias gap='git checkout -p'
alias gco!='git checkout $_'  # Adds the last parameter of the previous bash command.
alias gcop='git checkout -p'
alias gwd='git wd'      # Performs word diff
# alias gupnb='$(git push |& tail -n 2)'   # Push new branch

# vim aliases
alias v!='vim $_'
alias nv!='nvim $_'

# Go right to dotfiles folder
alias dot="${HOME}/repos/dotfiles"
alias repos="${HOME}/repos"
alias uo="${HOME}/repos/uo"
if is_mac || is_popos; then
    alias uo_docs="${HOME}/repos/uo_docs"
    alias desktop="${HOME}/Desktop"
    alias textbooks="${HOME}/repos/textbooks"
fi

# ToDo temporary only
if is_mac || is_popos; then
    alias icml="${HOME}/repos/icml2020"
fi

if is_talapas; then
    # Simplify checking my running jobs
    ##  Default format: "%.18i %.9P %.8j %.8u %.2t %.10M %.6D %R"
    ##  Long Format: "%.18i %.9P %.8j %.8u %.8T %.10M %.9l %.6D %R"
    ### For more info, see: https://slurm.schedmd.com/squeue.html
    ### Changes Versus Long: Widened job name (%j) and time limit (%l)
    # Sorting jobs:
    ### Highest Priority: Partition
    ###                   Job State
    ### Lowest Priority:  Job Number
    alias squeue='squeue --format="%.18i %.9P %.14j %.8u %.8T %.10M %.15l %.6D %R" --sort P,t,i'
    alias sq=squeue
    alias mysqueue='squeue -u $(whoami)'
    alias msq=mysqueue

    alias kj="kill_job"
fi

# MacOS print notification from the terminal to the notification pane
alias terminal-notifier="terminal-notifier -message"

# Sort top automatically by cpu usage
alias top="htop"

if is_linux ; then
    alias open='xdg-open'
fi

# Use GNU cut since it has more features than the BSD cut
if is_mac; then
    alias cut="gcut"
fi

# Clear vim swp files
alias clrswp="rm .*.swp"

# Alias clonez for original name
alias clonezaydh=clonez

# Simplify calling tensorboard
alias tb="tensorboard --logdir"

# Enable xterm in ssh
# See: https://medium.com/@dubistkomisch/how-to-actually-get-italics-and-true-colour-to-work-in-iterm-tmux-vim-9ebe55ebc2be
alias ssh='TERM=xterm-256color ssh'
# Simplify ssh to talapas
alias ssht="ssh talapas"
# Simplify ssh to home
alias sshme="ssh home"

# # List all
# alias la="ls -Alh"
