source ${HOME}/.functions

# Helpful git Aliases
alias ga!='git add $_'  # Adds the last parameter of the previous bash command.
alias gbh='git branch-sort' # Sorts branches by last commit
alias gap='git checkout -p'
alias gco!='git checkout $_'  # Adds the last parameter of the previous bash command.
alias gcop='git checkout -p'
alias gwd='git wd'      # Performs word diff
# alias gupnb='$(git push |& tail -n 2)'   # Push new branch

# vim aliases
alias v!='vim $_'

# Go right to dotfiles folder
alias dot="${HOME}/repos/dotfiles"
alias repos="${HOME}/repos"
if is_mac; then
    alias uo="${HOME}/repos/uo"
    alias uo_docs="${HOME}/repos/uo_docs"
    alias desktop="${HOME}/Desktop"
fi

# Simplify checking my running jobs
##  Default format: "%.18i %.9P %.8j %.8u %.2t %.10M %.6D %R"
##  Long Format: "%.18i %.9P %.8j %.8u %.8T %.10M %.9l %.6D %R"
### For more info, see: https://slurm.schedmd.com/squeue.html
### Changes Versus Long: Widened job name (%j) and time limit (%l)
alias squeue='squeue --format="%.18i %.9P %.14j %.8u %.8T %.10M %.15l %.6D %R"'
alias sq=squeue
alias mysqueue='squeue -u $(whoami)'
alias msq=mysqueue

alias kj="kill_job"

# MacOS print notification from the terminal to the notification pane
alias terminal-notifier="terminal-notifier -message"

# Sort top automatically by cpu usage
if is_mac; then
    alias top="top -o cpu"
else
    alias top="top -o %CPU"
fi

if is_linux ; then
    alias open='xdg-open'
fi

# Use GNU cut since it has more features than the BSD cut
if is_mac; then
    alias cut="gcut"
fi

# # tmux aliases
# ## New tmux session with a user specified name like: tn <name>
# alias tn="tmux new -s"

# Clear vim swp files
alias clrswp="rm .*.swp"

# Alias clonez for original name
alias clonezaydh=clonez

# Simplify calling tensorboard
alias tb="tensorboard --logdir"

# Simplify ssh to talapas
alias ssht="ssh talapas"

# # List all
# alias la="ls -Alh"
