source ${HOME}/.functions

# Helpful git Aliases
alias gal='git add $_'  # Adds the last parameter of the previous bash command.
alias gco!='git checkout $_'  # Adds the last parameter of the previous bash command.
alias gwd='git wd'      # Performs word diff
# alias gupnb='$(git push |& tail -n 2)'   # Push new branch

# Go right to dotfiles folder
alias dot="${HOME}/repos/dotfiles"
# alias gotodot="cd dot"
if [ is_mac ]; then
    alias uo="${HOME}/repos/uo"
fi

# Simplify checking my running jobs
##  Default format: "%.18i %.9P %.8j %.8u %.2t %.10M %.6D %R"
##  Long Format: "%.18i %.9P %.8j %.8u %.8T %.10M %.9l %.6D %R"
### For more info, see: https://slurm.schedmd.com/squeue.html
### Changes Versus Long: Widened job name (%j) and time limit (%l)
alias squeue='squeue --format="%.18i %.9P %.14j %.8u %.8T %.10M %.15l %.6D %R"'
alias sq=squeue
alias mysqueue='squeue -u $(whoami)'
alias msq=mysqueue

# MacOS print notification from the terminal to the notification pane
alias terminal-notifier="terminal-notifier -message"

# Sort top automatically by
if [ is_mac ]; then
    alias top="top -o cpu"
else
    alias top="top -o %CPU"
fi

# tmux aliases
## New tmux session with a user specified name like: tn <name>
alias tn="tmux new -s"

# Clear vim swp files
alias clrswp="rm .*.swp"

# Alias clonez for original name
alias clonezaydh=clonez

# Simplify calling tensorboard
alias tb="tensorboard --logdir"

# Simplify ssh to talapas
alias ssht="ssh talapas"

# # List all
# alias la="ls -Alh"
