# vim bundles
bundle/
autoload/
plugin/

# Gutentags file
tags

# Command history
.vim/.netrwhist

# vim swp files
*.swp

# PyRope
.ropeproject/

# oh-my-tmux setting
.tmux/
## tmux local file is merged with oh-my-tmux's
.tmux.conf.local
