# This is Git's per-user configuration file.
[user]
    name = Zayd Hammoudeh
    email = zayd.hammoudeh@gmail.com
[alias]
    wd = diff -w --word-diff
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[push]
    default = simple
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[core]
    excludesfile = ~/.gitignore_global
[credential]
	helper = cache --timeout=7200
