source ~/.vimrc

" Restore the mapping of the return, space, and tab keys since PyCharm has
" adequate undo granularity.
:inoremap <CR> <CR>
:inoremap <Space> <Space>
:inoremap <Tab> <Tab>

set nonumber          " Show line numbers
set norelativenumber

" PyCharm's IdeaVim has support for emulating some vim plugins.
" For more information see:
" https://github.com/JetBrains/ideavim#emulated-vim-plugins
set surround
set commentary

" Emulate vim nerdtree
nnoremap nt :action ActivateProjectToolWindow<CR>
