source ~/.vimrc

" Restore the mapping of the return, space, and tab keys since PyCharm has
" adequate undo granularity.
:inoremap <CR> <CR>
:inoremap <Space> <Space>
:inoremap <Tab> <Tab>

set nonumber          " Show line numbers
set norelativenumber

" PyCharm's IdeaVim has support for emulating some vim plugins.
" For more information see:
" https://github.com/JetBrains/ideavim#emulated-vim-plugins
set surround
set commentary

" Jump to anywhere you want with minimal keystrokes, with just one key binding.
" s{char}{char} to move to {char}{char}
set easymotion
" overwin not support in PyCharm so use non-overwin equivalent
nmap <Leader>f <Plug>(easymotion-bd-f)
nmap s <Plug>(easymotion-bd-f2)
nmap <Leader>L <Plug>(easymotion-lineanywhere)
nmap <Leader>w <Plug>(easymotion-bd-w)

" Emulate vim nerdtree
nnoremap nt :action ActivateProjectToolWindow<CR>
