source ~/.vimrc

" Restore the mapping of the return, space, and tab keys since PyCharm has
" adequate undo granularity.
:inoremap <CR> <CR>
:inoremap <Space> <Space>
:inoremap <Tab> <Tab>

set easymotion
" overwin not support in PyCharm so use non-overwin equivalent
nmap <Leader>f <Plug>(easymotion-bd-f)
nmap s <Plug>(easymotion-bd-f2)
nmap <Leader>L <Plug>(easymotion-lineanywhere)
nmap <Leader>w <Plug>(easymotion-bd-w)

" " Emulate vim nerdtree
nnoremap nt :NERDTree<CR>

" Enable ideajoin.
" See: https://github.com/JetBrains/ideavim/wiki/%60ideajoin%60-examples
set ideajoin

" set clipboard+=ideaput
set clipboard+=unnamed
